.inputContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 10px;
}

.registrationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrationTitle {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.nameContainer {
  display: flex;
  gap: 20px;
}

.registrBtn {
  background-color: blue;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
}

.registrBtn:hover {
  background-color: darkblue;
  cursor: pointer;
}
